#map {
    height: 600px;
    width: 75%;
    float: left;
  }
  
  .buttons {
    float: left;
    width: 25%;
    padding-left: 20px;
    box-sizing: border-box;
  }
  
  .buttons label,
  .buttons textarea,
  .buttons input[type="radio"] {
    display: block;
    margin-bottom: 15px;
  }
  
  .options {
    display: flex;
    margin-bottom: 5px;
  }
  
  .options input[type="radio"] {
    margin-right: 8px;
  }
  
  .buttons #distance {
    margin-bottom: 15px;
  }
  
  .buttons button {
    clear: both;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  h1 {
    text-align: center;
  }

  .buttons #start, #end{
    margin-bottom : 15px;
  }
