#map {
    width : 70%;
    height : 400px;
    float : left;
}

.buttons {
    width : 30%;
    float : right;
    padding : 20px;
    box-sizing : border-box;
}

#start,
#end {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
}

.options input[type="radio"] {
    display: inline-block;
    margin-bottom: 20px;
}

  #distance {
    display: block;
    width: 100%;
    margin-top: 10px;
    max-width: 100px;
}

h1 {
    text-align: center;
}