#map {
    height : 400px;
    width : 75%;
    float : left;
}

.buttons {
    float : left;
    width : 25%;
    padding-left : 20px;
    box-sizing: border-box;
    height : 1.5rem;
    resize : none;
}

.buttons label,
.buttons textarea,
.buttons button {
    display : block;
    margin-bottom: 10px;
}

.options button {
    margin-bottom: 10px;
}

.buttons #distance {
    width: 50%;
}
